:root {
  --color-background-body: #ffffff;
  --color-background-footer: #202020;

  --color-text-heading: #141414;
  --color-text-body: #151515;
  --color-text-strong: #000000;

  --color-text-footer: #ececec;
  --color-text-footer-secondary: #d7d7d7;
}

*,
::before,
::after {
  box-sizing: border-box;
}
/* =============================== Typography ======================================== */
html {
  /* 62.5 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--color-background-body);
  color: var(--color-text-body);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.1;
}

h2,
h3 {
  color: var(--color-text-heading);
}

h1 {
  color: var(--color-text-strong);
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

/* ============================================ Header ============================================== */

.page_header {
  min-width: 400px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.logo {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.2em;
}
.logo-img {
  width: 23.16px;
}
.logo-header {
  font-size: 13px;
  font-weight: bold;
}
nav ul {
  display: flex;
  /* gap: 1em; */
}

nav ul li {
  list-style-type: none;
  color: var(--color-text-heading);
  padding: 0 0.7em;
}

nav ul li:hover,
nav ul li:active {
  cursor: pointer;
  color: var(--color-text-heading);
}
