/* ================================ Base Variables ========================================= */
:root {
  --color-background-body: #ffffff;
  --color-background-footer: #202020;

  --color-text-heading: #141414;
  --color-text-body: #151515;
  --color-text-strong: #000000;

  --color-text-footer: #ececec;
  --color-text-footer-secondary: #d7d7d7;
}

/* ================================ reset =================================================== */

*,
::before,
::after {
  box-sizing: border-box;
}
/* =============================== Typography ======================================== */
html {
  /* 62.5 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--color-background-body);
  color: var(--color-text-body);
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1em;
  min-width: 420px;
}

/* Headings */
h1 {
  color: var(--color-text-strong);
  font-size: clamp(2.4rem, 4vw, 3.6rem);
}

h2 {
  font-size: clamp(2rem, 3vw, 2.4rem);
  margin: 0.56em 0;
}

h2,
h3 {
  color: var(--color-text-heading);
}

time {
  text-transform: uppercase;
}

/* ============================================ Header ============================================== */

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 1em;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
/* .logo-img {
  width: 23.16px;
} */
.logo-header {
  font-weight: bold;
}
nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-transform: uppercase;
  cursor: pointer;
}

/* ========================== hero section ===================================== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25em;
  background: #000000 url("../images/article-image-mobile.png") center/cover
    no-repeat;
  color: var(--color-background-body);
  min-height: 300px;
}

.hero h1 {
  color: var(--color-background-body);
  text-align: left;
  margin: 0.25em 0;
}

.hero p {
  margin: 0;
  padding: 0.25em 0;
  max-width: 70ch;
}

.hero-date {
  margin-top: auto;
  padding: 0.25em 0;
  margin: 0;
}

/* ========================== Projects ======================================== */

.projects_section {
  display: grid;
  grid-template-areas:
    "post1"
    "post2"
    "post3";
  gap: 1.25em;
  margin: 2em 0;
}
.projects_section .row {
  margin: auto;
}

.post_container {
  /* grid-area: post; */
  background-color: #f9f9f9;
  padding: 1em;
  border-radius: 6px;
  width: 380px;
  height: 370px;
  margin-top: 1.25em;
}
.post_container .post_img {
  margin-bottom: 0.9em;
  width: 100%;
  height: auto;
}

.view_more {
  border: none;
  background-color: var(--color-background-body);
  padding: 1.68em 1.25em;
  font-weight: bold;
}

.display {
  display: none;
}

.row-two {
  display: none;
}

/* ========================== Desktop ========================================= */

@media screen and (min-width: 600px) {
  .project_section {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-areas: none;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: #000000 url("../images/article-image.png") no-repeat center
      center;
    min-height: 480px;
    max-width: 1124px;
    margin: auto;
  }
  .post_container {
    max-width: 309px;
    height: auto;
  }
  .post_container .post_img {
    width: 100%;
    max-height: auto;
  }

  .projects_section .row {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin: 0 auto;
    gap: 1.25em;
    margin-bottom: 1.25em;
  }

  .row-two {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 2em;
  }
  .projects_section .row {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
